In [1]:
import numpy as np
import pandas as pd

In [2]:
apartments = "../datasets/apartments.csv"
apartments_df = pd.read_csv(apartments)
apartments_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21501 entries, 0 to 21500
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    21501 non-null  object
 1   city                  21501 non-null  object
 2   type                  17104 non-null  object
 3   squareMeters          21501 non-null  float64
 4   rooms                 21501 non-null  float64
 5   floor                 17928 non-null  float64
 6   floorCount            21292 non-null  float64
 7   buildYear             18121 non-null  float64
 8   latitude              21501 non-null  float64
 9   longitude             21501 non-null  float64
 10  centreDistance        21501 non-null  float64
 11  poiCount              21501 non-null  float64
 12  schoolDistance        21490 non-null  float64
 13  clinicDistance        21438 non-null  float64
 14  postOfficeDistance    21481 non-null  float64
 15  kindergartenDistance  21482 non-null  float64
 16  restaurantDistance    21470 non-null  float64
 17  collegeDistance       20917 non-null  float64
 18  pharmacyDistance      21471 non-null  float64
 19  ownership             21501 non-null  object
 20  buildingMaterial      12709 non-null  object
 21  condition             5580 non-null   object
 22  hasParkingSpace       21501 non-null  object
 23  hasBalcony            21501 non-null  object
 24  hasElevator           20541 non-null  object
 25  hasSecurity           21501 non-null  object
 26  hasStorageRoom        21501 non-null  object
 27  price                 21501 non-null  int64
dtypes: float64(16), int64(1), object(11)
memory usage: 4.6+ MB

In [4]:
for col in apartments_df.columns:
    print(f"{col}: {apartments_df[col].unique()}")

id: ['811891f98a870dfd6e414374a0a85560' 'adaf636d0c44d8d9325bce42403eefee'
 '9b957bd60885a469c96f17b58a914f4b' ... 'bb19da639a2de8bba49be2ca49053c87'
 '1e7f4f1fdfea31eb84e071d697839632' '60fcbfa2a2a48ebcc2e554efba7f2729']
city: ['szczecin' 'gdynia' 'krakow' 'poznan' 'bialystok' 'gdansk' 'wroclaw'
 'radom' 'rzeszow' 'lodz' 'katowice' 'lublin' 'czestochowa' 'warszawa'
 'bydgoszcz']
type: ['blockOfFlats' 'apartmentBuilding' 'tenement' nan]
squareMeters: [ 47.    88.22 117.   ...  28.41 100.76 108.96]
rooms: [2. 3. 5. 1. 4. 6.]
floor: [ 6.  1.  4.  7. nan  3.  2.  9.  5. 10. 11.  8. 12. 13. 14. 17. 16. 15.
 18. 21. 24. 20. 25. 19. 22. 29.]
floorCount: [12.  2.  4.  7. 11.  3.  5.  6. 10.  1.  8. 27. nan 28. 18.  9. 17. 16.
 15. 13. 14. 20. 23. 19. 24. 25. 29. 22. 21. 26.]
buildYear: [1981. 2000.   nan 1963. 2018. 1997. 1930. 1970. 1960. 1980. 1950. 2012.
 2013. 1900. 1985. 2010. 2003. 1979. 2020. 1977. 1995. 1967. 2007. 2005.
 1945. 1920. 1978. 1936. 2022. 2001. 2017. 1971. 1939. 1992. 1987. 2024.
 2023. 1968. 1929. 1935. 1940. 1994. 1990. 1984. 2011. 1969. 1910. 1973.
 2009. 1976. 1998. 1925. 2016. 2008. 1986. 1961. 1991. 2015. 1964. 1999.
 1928. 1904. 1937. 1938. 1932. 1988. 2019. 1993. 1962. 2014. 1895. 1996.
 1949. 2006. 2004. 2021. 1989. 1909. 1872. 2002. 1956. 1958. 1933. 1972.
 1886. 1959. 1918. 1914. 1983. 1905. 1889. 1873. 1907. 1870. 1954. 1974.
 1948. 1906. 1927. 1975. 1955. 1952. 1953. 1966. 1926. 1934. 1965. 1957.
 1982. 1931. 1890. 1897. 1913. 1893. 1896. 1915. 1882. 1941. 1912. 1850.
 1892. 1860. 1903. 1911. 1943. 1919. 1902. 1891. 1899. 1898. 1946. 1922.
 1942. 1921. 1880. 1887. 1923. 1908. 1951. 1924. 1901. 1888. 1865. 1947.
 1861. 1917. 1875. 1856. 1894. 1879. 1866. 1916. 1877. 1944. 1852.]
latitude: [53.4285438  53.4490931  53.44309575 ... 53.124655   53.131748
 53.129657  ]
longitude: [14.5528116 14.5168436 14.5613475 ... 18.008459  18.000648  18.003888 ]
centreDistance: [ 0.79  4.09  2.19 ... 10.33 13.19 14.9 ]
poiCount: [ 67.   0.  10.  39.   7.  14.  15.  18.  25.   5.   9.  47.   6.  20.
   1.   4.  13.  53.   2.  16.   8.  26.  19.  76.  61.  60.  31.  23.
  54.  17.  65.  32.  84.  75.  11.  49.  12.  72.  35.  63.  52.  21.
  51.   3.  68.  37.  59.  64.  66.  29.  80.  43.  36.  74.  27.  55.
  83.  71.  48.  77.  87.  24.  58.  73.  57.  85.  40.  79.  81.  22.
  46.  33.  62.  69.  30.  34.  42.  70.  38.  28.  56.  45. 113. 144.
 153. 155. 140. 115.  94. 180. 142. 183. 196. 101.  44. 141. 123.  89.
 189. 110. 117. 171. 139. 143. 102. 121. 199. 104. 197. 125. 151. 194.
 185. 120. 129.  90. 177. 105.  50. 198. 119. 124. 128. 118.  78. 107.
 133. 181. 116. 210. 127. 202. 146. 145.  98.  97.  86. 134. 184. 150.
 147. 173. 172. 188. 148.  92. 179. 158. 182. 212. 130. 152.  41. 208.
 106. 109. 100.  91.  99.  96. 111.  95. 126. 131. 132. 114. 137.  88.
  93. 135. 122. 156. 112. 138. 166. 136. 103.  82. 108.]
schoolDistance: [0.288 0.509 0.216 ... 0.016 0.776 1.078]
clinicDistance: [0.285 1.039 0.611 ... 2.097 1.868 1.45 ]
postOfficeDistance: [0.268 0.998 0.743 ... 1.653 1.159 1.102]
kindergartenDistance: [0.245 0.676 0.28  ... 0.977 1.054 1.272]
restaurantDistance: [0.068 0.661 0.298 ... 1.746 1.088 0.943]
collegeDistance: [0.593 1.192 1.522 ... 1.619 1.678 0.045]
pharmacyDistance: [8.500e-02 6.680e-01 2.290e-01 ... 1.731e+00 1.000e-03 1.732e+00]
ownership: ['condominium' 'udzia≈Ç' 'cooperative']
buildingMaterial: ['concreteSlab' 'brick' nan]
condition: [nan 'premium' 'low']
hasParkingSpace: ['no' 'yes']
hasBalcony: ['yes' 'no']
hasElevator: ['yes' 'no' nan]
hasSecurity: ['no' 'yes']
hasStorageRoom: ['yes' 'no']
price: [ 449000  950000 1099000 ...  422500  239900  208035]

In [8]:
print(f"id: {apartments_df['id'].isnull().any()}")

id: False

In [9]:
for col in apartments_df.columns:
    print(f"{col}: {apartments_df[col].isnull().any()}")

id: False
city: False
type: True
squareMeters: False
rooms: False
floor: True
floorCount: True
buildYear: True
latitude: False
longitude: False
centreDistance: False
poiCount: False
schoolDistance: True
clinicDistance: True
postOfficeDistance: True
kindergartenDistance: True
restaurantDistance: True
collegeDistance: True
pharmacyDistance: True
ownership: False
buildingMaterial: True
condition: True
hasParkingSpace: False
hasBalcony: False
hasElevator: True
hasSecurity: False
hasStorageRoom: False
price: False

In [6]:
for col in apartments_df.columns:
    print(f"{col}: {apartments_df[col].eq(0).any()}")

print("----------")

print(f"poiCount: {apartments_df["poiCount"].isnull().any()}")

id: False
city: False
type: False
squareMeters: False
rooms: False
floor: False
floorCount: False
buildYear: False
latitude: False
longitude: False
centreDistance: False
poiCount: True
schoolDistance: False
clinicDistance: False
postOfficeDistance: False
kindergartenDistance: False
restaurantDistance: False
collegeDistance: False
pharmacyDistance: False
ownership: False
buildingMaterial: False
condition: False
hasParkingSpace: False
hasBalcony: False
hasElevator: False
hasSecurity: False
hasStorageRoom: False
price: False
----------
poiCount: False

In [4]:
cleaned_df = apartments_df.drop(columns=["buildingMaterial", "condition"])
cleaned_df = cleaned_df[~cleaned_df.type.isnull()]
cleaned_df = cleaned_df[~cleaned_df.isna().any(axis=1)]

In [9]:
cleaned_df.shape

(11986, 26)

In [6]:
cleaned_df.id.isnull().any().sum()

0

In [7]:
for col in cleaned_df.columns:
    print(f"{col}: {cleaned_df[col].isnull().sum()}")

id: 0
city: 0
type: 0
squareMeters: 0
rooms: 0
floor: 0
floorCount: 0
buildYear: 0
latitude: 0
longitude: 0
centreDistance: 0
poiCount: 0
schoolDistance: 0
clinicDistance: 0
postOfficeDistance: 0
kindergartenDistance: 0
restaurantDistance: 0
collegeDistance: 0
pharmacyDistance: 0
ownership: 0
hasParkingSpace: 0
hasBalcony: 0
hasElevator: 0
hasSecurity: 0
hasStorageRoom: 0
price: 0